logical_axis_rules: [
                      ['batch', 'data'],
                      ['activation_batch', 'data'],
                      ['activation_length', 'fsdp'],
                      
                      ['activation_heads', 'tensor'],
                      ['mlp','tensor'],
                      ['embed','fsdp'],
                      ['heads', 'tensor'],
                      ['norm', 'tensor'],
                      ['conv_batch', ['data','fsdp']],
                      ['out_channels', 'tensor'],
                      ['conv_out', 'fsdp'],
                    ]

data_sharding: [['data', 'fsdp', 'tensor']]